div {
    border: 2px solid;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}
.satu {
    background-color: yellow ;
    height: 80px;
    position: absolute;
    width: 20%;
}
.dua {
    background-color: tomato ;
    height: 80px;
    width: 75%;
    margin-left: auto;
}
.tiga {
    background-color: green;
    position: absolute;
    width: 20%;
    height: 400px;

}
.empat {
    background-color: gainsboro;
    position: absolute;
    width: 50%;
    height: 400px;
    left: 25%;
}
.lima {
    background-color: aqua;
    width: 20%;
    height: 400px;
    margin-left: auto
}
.enam {
    background-color: blue;
}